Repository NickLaye/dohodometr-investment-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write'
  language: system

Add server backup scripts
  DEPLOY_FULL_APP.md
  MERGE_SERVER_CHANGES.md
  deployment/git_deploy.sh
  deployment/save_server_changes.sh
Due: none

Add server sync script for cleaned project
  deployment/sync_server.sh
Due: none

Fix critical database architecture conflicts
  backend/app/api/v1/endpoints/analytics.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/portfolios.py
  backend/app/api/v1/endpoints/tax_calculator.py
  backend/app/api/v1/endpoints/transactions.py
Due: none

Complete production audit fixes
  backend/Dockerfile
  backend/app/core/config.py
  deployment/docker-compose.production.yml
  frontend/Dockerfile
  frontend/app/layout.tsx
  frontend/app/tax-demo/page.tsx
  frontend/lib/api-client.ts
  frontend/next.config.js
Due: eslint, prettier

feat: Implement new Dohodometr design system
  .cursor/QUICK_RULES.md
  .cursor/rules
  DESIGN_SYSTEM.md
  design_references/auth_pages.html
  design_references/dashboard_pages.html
  design_references/main_page.html
  design_references/system_pages.html
  design_references/tax_mobile.html
  frontend/.eslintrc.js
  frontend/app/app/page.tsx
  frontend/app/auth/login/page.tsx
  frontend/app/auth/register/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/app/providers.tsx
  frontend/components/app/app-header.tsx
  frontend/components/app/app-sidebar.tsx
  frontend/components/layout/footer.tsx
  frontend/components/layout/header.tsx
  frontend/components/sections/benefits-section.tsx
  frontend/components/sections/cta-section.tsx
  frontend/components/sections/demo-section.tsx
  frontend/components/sections/hero-section.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/loading-spinner.tsx
  frontend/components/ui/toaster.tsx
  frontend/lib/auth/auth-context.tsx
  frontend/lib/utils.ts
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/styles/design-system.css
  frontend/tailwind.config.js
  frontend/tests/mocks/server.ts
  frontend/tests/setup.ts
  frontend/tsconfig.json
Due: eslint, prettier

feat: Migrate entire backend to synchronous architecture
  backend/app/api/v1/endpoints/analytics.py
  backend/app/api/v1/endpoints/portfolios.py
  backend/app/api/v1/endpoints/transactions.py
  backend/app/models/__init__.py
  backend/app/models/account.py
  backend/app/models/alert.py
  backend/app/models/audit.py
  backend/app/models/benchmark.py
  backend/app/models/broker_connection.py
  backend/app/models/cashflow.py
  backend/app/models/crypto_asset.py
  backend/app/models/custom_asset.py
  backend/app/models/goal.py
  backend/app/models/holding.py
  backend/app/models/instrument.py
  backend/app/models/notification.py
  backend/app/models/portfolio.py
  backend/app/models/price.py
  backend/app/models/tag.py
  backend/app/models/transaction.py
  backend/app/models/user.py
  backend/app/repositories/account.py
  backend/app/repositories/portfolio.py
  backend/app/repositories/transaction.py
  backend/app/repositories/user.py
  frontend/tsconfig.tsbuildinfo
Due: none

security: Fix critical security vulnerabilities and hardcoded passwords
  deployment/README_DEPLOY.md
  deployment/docker-compose.production.yml
  deployment/generate_secure_env.sh
  deployment/git_deploy.sh
  deployment/update_to_full_app.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.tsbuildinfo
Due: prettier

security: Update all frontend dependencies to latest secure versions
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.tsbuildinfo
Due: prettier

security: Update TypeScript ESLint packages to fix compatibility warnings
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix: Repair GitHub Actions workflow YAML syntax and deployment paths
  .github/workflows/cd-production.yml
Due: none

security: fix critical vulnerabilities and implement token revocation
  backend/app/api/v1/endpoints/auth.py
  backend/app/core/config.py
  backend/app/core/security.py
  deployment/generate_secure_secrets.sh
  env.example
Due: none

feat: add comprehensive health monitoring and fix Docker issues
  backend/.dockerignore
  backend/Dockerfile
  backend/app/api/health.py
  backend/app/main.py
  docker-compose.dev.yml
  docker-compose.dohodometr.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/app/api/health/route.ts
Due: eslint, prettier

chore: add comprehensive code quality and security linting
  .commitlintrc.json
  .eslintrc.security.js
  .pre-commit-config.yaml
  .secrets.baseline
  .yamllint.yml
Due: none

ci: add comprehensive security CI/CD pipeline
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/cd-production-fixed.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-security.yml
  .github/workflows/security-hardened.yml
Due: none

test: add comprehensive security and integration tests
  backend/tests/integration/test_database.py
  backend/tests/test_api_endpoints.py
  backend/tests/test_health.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_security.py
  frontend/tests/critical-paths.test.tsx
Due: eslint, prettier

feat: add comprehensive deployment automation and security tools
  Makefile.security
  deployment/deploy_production_secrets.sh
  deployment/environment.production
  deployment/restart_services.sh
  deployment/test_auth.sh
Due: none

feat: add comprehensive security tooling and monitoring stack
  security/internal_security_audit.sh
  security/penetration_testing.sh
  security/secrets_management_setup.sh
  security/setup_security_monitoring.sh
  security/team_training_materials.md
Due: none

docs: add comprehensive security documentation and audit reports
  AUDIT_COMPLETION_SUMMARY.md
  CRITICAL_FIXES_COMPLETED.md
  FINAL_COMPLETION_SUMMARY.md
  FINAL_HARD_REVIEW_2025.md
  GITHUB_SECURITY_SETUP.md
  GITHUB_SECURITY_SETUP_FINAL.md
  HARD_REVIEW_REPORT.md
  LIVE_SYSTEM_VALIDATION_COMPLETE.md
  QUICK_SECURITY_CHECK.md
  README.md
  SECURITY_CRITICAL_FIXES_2025.md
  SECURITY_IMPLEMENTATION_GUIDE.md
  🎯_AUDIT_COMPLETION_FINAL_2025.md
  🎯_FINAL_AUDIT_SUMMARY.md
Due: none

chore: finalize security implementation with remaining configs
  .env.backup
  .env.production.example
  .env.production.secure
  Makefile
  backend/app/api/v1/endpoints/analytics.py
  backend/app/api/v1/endpoints/transactions.py
  env.dohodometr.production.example
  frontend/tsconfig.json
Due: prettier

fix: update GitHub Actions to latest stable versions
  .github/workflows/comprehensive-security.yml
Due: none

refactor: улучшить качество TypeScript кода и исправить ошибки
  .github/workflows/ci.yml
  frontend/Dockerfile
  frontend/app/api/health/route.ts
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/financial/currency-input.tsx
  frontend/components/financial/mobile-table.tsx
  frontend/components/financial/pnl-indicator.tsx
  frontend/components/mobile-navigation.tsx
  frontend/components/onboarding/welcome-tour.tsx
  frontend/tests/critical-paths.test.tsx
  frontend/tsconfig.tsbuildinfo
Due: eslint, prettier

fix: исправить критические проблемы CI/CD pipeline
  backend/requirements-dev.txt
  frontend/.dockerignore
  frontend/components/ui/dropdown-menu.tsx
  frontend/global.d.ts
  frontend/lib/api.ts
  frontend/lib/auth/auth-context.tsx
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
Due: eslint, prettier

fix: обновить docker-compose команды до Docker Compose v2
  .github/workflows/cd-production-fixed.yml
  .github/workflows/cd-production.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-security.yml
Due: none

fix: добавить поле name в Docker Compose файлы
  docker-compose.dev.yml
  docker-compose.dohodometr.yml
Due: none

test(frontend): починить Vitest config и JSX setup\n\n- setup.ts -> setup.tsx, добавлен импорт React для JSX\n- включен coverage provider v8\n- Vitest использует корректный setup файл
  frontend/tests/setup.tsx
  frontend/vitest.config.ts
Due: eslint, prettier

security: baseline headers CSP HSTS dockerignore security workflow
  .github/workflows/security.yml
  backend/.dockerignore
  backend/app/main.py
  deployment/docker-compose.production.yml
  deployment/nginx/nginx.conf
  frontend/.dockerignore
  frontend/middleware.ts
Due: eslint, prettier

chore: lint and commit policies pre-commit commitlint hadolint yamllint ci-permissions
  .commitlintrc.json
  .github/workflows/ci.yml
  .hadolint.yaml
  .husky/commit-msg
  .pre-commit-config.yaml
  .yamllint.yaml
  Makefile
  package.json
Due: none

test: contract tests schemathesis and k6 profiles backend openapi target
  .github/workflows/contract-tests.yml
  backend/Makefile
  k6/baseline.js
  k6/smoke.js
Due: none

docs: operations runbooks release process
  OPERATIONS.md
  RELEASE.md
  RUNBOOKS/DB_DOWN.md
  RUNBOOKS/LATENCY_REGRESSION.md
  RUNBOOKS/QUEUE_LAG.md
  RUNBOOKS/README.md
Due: none

ci: docker build test workflow
  .github/workflows/docker-ci.yml
Due: none

fix:ci-middle-ts-profiler
  backend/requirements-dev.txt
  frontend/middleware.ts
Due: eslint, prettier

fix:ci-profilers
  backend/requirements-dev.txt
Due: none

fix:ci-ruff-ignores-and-vitest-coverage
  backend/app/api/v1/endpoints/auth.py
  backend/pyproject.toml
  frontend/package.json
Due: prettier

ci:relax-frontend-security-step
  .github/workflows/comprehensive-security.yml
Due: none

ci:relax-nonblocking-audits
  .github/workflows/ci.yml
  .github/workflows/security-hardened.yml
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
